<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!--- ADD PRODUCTION PCS -->
    <section name="DEFAULT" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>


  <!--- DEFAULT MACHINE -->
  <DEFAULT>
    <add key="sqlconnection" value="connect_x" />
    
    <!-- value="22" -->
    <add key="pump_runseconds" value="2" />

    <!-- value="8" -->
    <add key="vacuum_seconds" value="3" />
    
    <add key="voltage_high" value="5.0" /> 
    <add key="voltage_low" value="0.2" />    
    <add key="voltage_diff" value="0.1" />
    <add key="analogue_channel" value="0" />       
  </DEFAULT>
  
  
  <appSettings>
    <!--- SQL SERVER DB NAME -->
    <add key="linxdbname" value="linxmaster" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <!--- SQL Server User Id and Password appended on connectionstring if not trusted - see below -->
    <add key="SQLServerUserID" value="sa" />
    <add key="SQLServerPassword" value="zKkv2zHbagKtc92hMsPhKOY2uGt4CPc/" />
  </appSettings>
  
  <connectionStrings>
    <!--- SQL SERVER CONFIGURATION DEV1 and DEV3 -->
    <add name="connect_1" connectionString="Provider=SQLOLEDB;Server=LNXDW1\SQLDW1;Database=linxmaster;Integrated Security=SSPI;" providerName="System.Data.OleDb" />    
    <add name="connect_3" connectionString="Provider=SQLOLEDB;Server=LNXDW3\SQLDW3;Database=linxmaster;Integrated Security=SSPI;" providerName="System.Data.OleDb" />
    <!--- NOT IN USE YET-->
    <add name="connect_2" connectionString="Provider=SQLOLEDB;Server=LNXDW2\SQLDW2;Database=linxmaster;Integrated Security=SSPI;" providerName="System.Data.OleDb" />
    <add name="connect_prod" connectionString="Provider=SQLOLEDB;Server=LNXDWPROD\SQLDWPROD;Database=linxmaster;Integrated Security=SSPI;" providerName="System.Data.OleDb" />
    <add name="connect_x" connectionString="Provider=SQLOLEDB;Server=LNXDW1\SQLDW1;Database=linxmaster;" providerName="System.Data.OleDb" />
  </connectionStrings>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>

